/server/ebin
/server/deps
/server/doc
/server/log
/server/Mnesia.*
/server/.eunit
/beagle/apps/*/ebin
/beagle/versioned/*/ebin
/beagle/rel/*
!/beagle/rel/reltool.config
!/beagle/rel/files
/beagle/debian/beagle-*
/beagle/NOTES
.DS_Store
.\#*
\#*\#
*.swp
*.dump
*.beam
*~
