/server/ebin
/server/deps
/server/doc
/server/log
/server/Mnesia.*
/beagle/apps/*/ebin
/beagle/versioned/*/ebin
/beagle/rel/*
!/beagle/rel/reltool.config
!/beagle/rel/files
.DS_Store
*.swp
*.dump
*.beam
*~
