{% extends "programs/programs.dtl" %}

{% block head %}
<script src="/static/javascripts/programs.js"></script>
{% endblock %}

{% block yield %}
    <form action="/programs/update/{{ program.id }}" method="post" onsubmit="return validate()">
      <input type="hidden" name="id" value="{{ program.id }}">
      <table class="programs">
        <tr>
          <td>Name:</td>
          <td><input type="text" name="name" value="{{ program.name }}"></td>
        </tr>
        <tr>
          <td>Version:</td>
          <td><input type="text" name="version" value="{{ program.version }}"></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td><textarea cols="40" rows="5" name="description">{{ program.description }}</textarea>
        </td>
      </table>
      <input type="submit">
    </form>
{% endblock %}
