{% extends "programs/programs.dtl" %}
{% block yield %}
  {% if programs %}
    <table class="programs">
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Description</th>
        <th></th>
      </tr>
      {% for program in programs %}
      <tr>
        <td><a href="/programs/show/{{ program.id }}">{{ program.name }}</a></td>
        <td>{{ program.version }}</td>
        <td>{{ program.description }}</td>
        <td>
          <a href="/programs/edit/{{ program.id }}"><button type="button" class="action-button edit">Edit</button></a>
          <form action="/programs/destroy/{{ program.id }}" method="post" class="delete">
            <input type="hidden" name="id" value="{{ program.id }}">
            <input type="submit" value="Delete" class="action-button delete" onclick="return confirm('Are you sure?');">
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p><strong>No programs found.</strong></p>
  {% endif %}

  <a href="/programs/new"><button type="button" class="action-button new">New program</button></a>
{% endblock %}
